<p><%=link_to "All Stars", "/stars"%> &nbsp <%=link_to "All Planets", "/planets"%></p>
<a href="/stars/new">New Star </a>
<h1>Stars</h1>
<% @stars.each do |star| %>
<h3>Name: <%= star.name %></h3> 
<p>Created at: <%=star.created_at%></p>
<% end %>